:host {
  display: block;
}

::ng-deep .loading {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .mat-progress-spinner {
    width: 45px !important;
    height: 45px !important;
    svg {
      width: 45px !important;
      height: 45px !important;
    }
  }

}
.action-buttons {
  margin-top:30px;
  text-align: right;
}
.account-group-info {
  padding-bottom: 30px;
  max-width: 680px;
  border-bottom: 1px solid #eee;
  margin:0 auto;
}
h4 {
  margin-top: 0;
}
form {
  @media screen and (max-width: 420px) {
    text-align: center;
  }
}

mat-form-field {
  width: 100%;
}

.wrapper-file-input {
  margin: 10px 0;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  max-width: 475px;
}

.content {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 50px;
}

.file-input {
  display: none;
}

.attached-accounts {
  @media screen and (max-width: 420px) {
    text-align: center;
  }
}

.cdk-column-id {
  flex: 0 0 20% !important;
  width: 20% !important;
}

.cdk-column-name {
  flex: 0 0 60% !important;
  width: 60% !important;
}

table {
  width: 100%;
  border-spacing: 0px;

  tbody {
    tr:nth-child(odd) {
      background-color: rgb(240, 240, 240);
    }

    tr {
      line-height: 2.2em;
    }
  }
}
.attached-users {
  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;

    thead tr.s-header th {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 500;
      color: #444;
      height: 44px;
    }

    thead tr.t-header th {
      text-align: left;
      font-size: 10px;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
      background-color: rgb(249, 249, 249);
      padding: 6px 25px;
    }

    th,
    td {
      text-align: left;
      padding: 0 24px;
      border-bottom: 1px solid #d6d6d6;
    }

    tbody td {
      font-size: 14px;
      border: none;
      border-bottom: 1px solid #d6d6d6;
      height: 44px;
    }
  }
}
.permissions-table {
  display: flex;
  padding-bottom: 50px;
  justify-content: space-between;

  .roles,
  .permissions {
    padding-top: 2rem;
    h3 {
      font-weight: 500;
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;
    }

    .role-permissions,
    .permission {
      margin-left: 2rem;
      font-size: 0.8rem;
    }
  }

  .actions {
    display: flex;
    flex-flow: column;
    height: 2rem;
    margin-top: auto;
    margin-left: 0;
  }
}
.group-fields {
  display: flex;
  justify-content: space-between;
  .mat-form-field {
    width: 48%;
  }
}
