:host {
  display: block;
}

mat-toolbar.content-toolbar {
  margin-bottom: 40px;
  background: #fff;
  color: #444;
  font-weight: 400;
  font-family: 'Google Sans', sans-serif;
  border-bottom: 1px solid #d6d6d6;

  button, a.mat-stroked-button {
    text-transform: uppercase;
    min-width: fit-content;
  }
}

.content-toolbar-title {
  font-size: 18px;
  color: #444;
  font-family: 'Google Sans', sans-serif;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  @media (max-width: 600px) {
    font-size: 16px;
  }
}

mat-toolbar.content-toolbar .fill {
  flex: 1 1 auto;
}

mat-toolbar.content-toolbar mat-icon {
  color: #555;
}

.back-icon-button {
  margin-right: 10px !important;
}

.button-wrapper {
  border-right: 1px solid #d6d6d6;
  margin-right: 10px;
  margin-left: -5px;
}

.text-small {
  font-size: small;
  line-height: 10px;
}
.multi-line-title {
  height: 100%;
  line-height: 60px;
}
.button-mobile {
  display: none;
}
@media (max-width: 800px) {
  .button-desktop {
    display: none;
  }
  .button-mobile {
    display: block;
  }
}
